@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MVC Jokes App</h1>
    <h5>Making the World Giggle, One App at a Time!</h5>
    <a class="nav-link text-dark" asp-area="" asp-controller="Jokes" asp-action="Index"> Let's laugh! /></a>
   
   

</div>
